body {
	font-family: 'Roboto Slab', serif;
}

h1,
h2 {
	font-weight: 700;
}

.info {
	float: left;
	display: inline-block;
	max-width: 600px;
}

.poster {
	float: right;
	display: inline-block;
	margin-right: 20px;
}